<header class="site-header" role="banner">
    <div class="site-header__flex container">
      <h1 class="site-header__title"><a href="{{ '/' | relative_url }}">Giulia Lanaro</a></h1>
      <h2 class="site-header__subtitle">Research of Attitudes</h2>
      <ul class="site-header__menu">
        <li class="site-header__item">
          <a href="{{ '/about/' | relative_url }}">about</a>
        </li>
        <li class="site-header__item">
          <a href="https://www.instagram.com/giulialanaro_/" target="_blank">instagram</a>
        </li>
      </ul>
    </div>
</header>
