html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  color: $text-color;
  font-family: $base-font-family;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

a {
  color: $text-color;
  text-decoration: none;
}

p {
  margin: 0 0 0.5rem;
}

img {
    max-width: 100%;
}

button {
  line-height: inherit;
}

h1, h2, h3, h4 {
  margin: 0;
  font-family: $base-font-family;
  font-weight: normal;
}