@charset "utf-8";

// Define defaults for each variable.

$base-font-family: 'Michroma', sans-serif;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$medium: 37.5rem; /* 600px */
$large: 62.5rem; /* 1000px */

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (min-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import 'normalize';
@import 'base';
@import 'wallop';


/* Layout
 *=======================================*/
.container {
  max-width: 72rem;
  padding: 0 1rem;
  margin: auto;
}

.layout-single {
  text-align: center;
  padding-bottom: 1rem;
}

.padding {
    padding: 1rem;
}


/* Header
 *=======================================*/
.site-header {
  padding: 1rem 0;
  margin-bottom: 1rem;
  text-align: center;
}

.site-header__title {
  font-size: 1.4rem;
}

.site-header__subtitle {
  margin-bottom: 1rem;
  font-size: 0.75rem;
}

.site-header__menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-header__item {
  display: inline-block;
  margin-right: 1.25rem;
  font-size: 0.75rem;

  &:last-child {
    margin-right: 0;
  }
}


/* Moodboard single
 *=======================================*/
.moodboard-single {
  display: block;
}

.moodboard-single__img {
  max-height: 50vh;
  margin-bottom: 0.5rem;
}

@media screen and (min-height: 30rem) {
  .moodboard-single__img { 
    max-height: 60vh;
  }
}

@media screen and (min-height: 40rem) {
  .moodboard-single__img { 
    max-height: 70vh;
  }
}

.moodboard-single__title {
  font-size: 0.75rem;
  text-align: center;
}

.moodboard-single__dida {
  font-size: 0.75rem;
  text-align: center;
}


/* Archive moodboard card
 *=======================================*/
.moodboards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.moodboard {
  margin-bottom: 3rem;
}

.moodboard__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
}

.moodboard__img-wrapper {
  display: block;
  margin-right: 0.5rem;
  
  &:last-child {
    margin-right: 0;
  }
}

.moodboard__title {
  margin: 0;
  font-size: 0.75rem;
  text-align: center;
}


/* Luminous
 *=======================================*/
  @-webkit-keyframes loading {
    0% { background-color: #999999; }
    50% { background-color: #333333; }
    100% { background-color: #999999; }
  }
  @keyframes loading {
    0% { background-color: #999999; }
    50% { background-color: #333333; }
    100% { background-color: #999999; }
  }

 .lum-lightbox-caption {
  padding: 0.5rem;  
  color: #ffffff; 
  font-size: 0.75rem;
  position: fixed;
  left: 0;
  width: 100%;
  bottom: 0;
}

.luminous img { /* img thumb */
  height: auto
}

.lum-img { /* img big */
    background: #999999;
    min-width: 1rem;
    min-height: 1rem;
    -webkit-animation: loading 2.5s linear infinite;
            animation: loading 2.5s linear infinite;
}

.lum-lightbox-inner {
  background-color: rgba(0,0,0,0.8);
}


